.numbers{
    margin-top: 50px;
}
.buttonNumber{
    margin-top: 200px;
}


.enterAcc{
    position: relative;
    display: block;
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
}

.regAcc{
    position: relative;
    display: block;
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
}
.Header{
    border-radius:15px;
    background: linear-gradient(92.68deg, #466b8f 0%, #e2e6e8 100%);
    color: white;
    background-color:rgb(95, 189, 226);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
}
.main{
    border-radius:15px;
    background: linear-gradient(92.68deg, #466b8f 0%, #e2e6e8 100%);
    color: white;
    background-color:rgb(65, 194, 245);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
}
/* 
@keyframes color {
    0%   { background: linear-gradient(92.68deg, #0068d1 0%, #70b1d1 20%);   }
    20%  { background: linear-gradient(92.68deg, #dbdfe3 0%, #081921 20%);   }
    40%  { background: linear-gradient(92.68deg, #192a3a 0%, #347fa4 20%);   }
    60%  { background: linear-gradient(92.68deg, #3985d2 0%, #1b7fb2 20%);   }
    80%  { background: linear-gradient(92.68deg, #dbdfe3 0%, #70b1d1 20%);   }
    100% { background: linear-gradient(92.68deg, #dbdfe3 0%, #70b1d1 100%);  }
  } */
  /* @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%} */
  /* } */
.body{

    /* background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgb(41, 148, 187) 51%, 
        rgb(74, 162, 210) 100%
  );  
  animation: AnimateBG 10s ease infinite; */
    background: linear-gradient(92.68deg, #dbdfe3 0%, #70b1d1 100%);  
    /* animation: color 9s infinite linear; */ 
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
}
.perevodDeneg{
    margin-top: 50px;
    
}

.idCategory{
    margin-top: 10px;
    width: 150px;
    height: 20px;
    border:0;
    display: block;
}
.idSample{
    margin-top: 10px;
    width: 150px;
    height: 20px;
    border:0;
    display: block;
}
.recipient{
    margin-top: 10px;
    width: 150px;
    height: 20px;
    border:0;
    display: block;
}
.codeWord{
    margin-top: 10px;
    width: 150px;
    height: 20px;
    border:0;
    display: block;
}
.money{
    margin-top: 10px;
    width: 150px;
    height: 20px;
    border:0;
    display: block;
    margin-bottom:10px;
}
.buttonSendMoney{
    color: white;
    transition: 2s;
    cursor: pointer;
    border: 0;
    background: linear-gradient(92.68deg, #afb4ba 0%, #82a7ba 100%);
box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
border-radius: 6px;
    
    
    width: 100px;
    height: 50px ;
    display: block;
}
.buttonSendMoney:hover{
    color: black;
    transition: 2s;
    background: linear-gradient(92.68deg, #4c6a94 0%, #17a3ea 100%);
    box-shadow: 6px 6px 25px rgba(167, 173, 179, 0.15), 4px 4px 25px rgba(2, 123, 53, 0.05), 10px 6px 25px rgba(98, 65, 175, 0.15);
}


.checkTranfersAll{
    color:white;
    margin-left: 20px;
}
.checkTranfersAll2{
    position: absolute;
    margin-left: 230px;
}
.checkBox{
    position: absolute;
    margin-left: 170px;
    
}
button{
    cursor: pointer;
    color: white;
    background: linear-gradient(92.68deg, #4c6a94 0%, #17a3ea 100%);
    box-shadow: 6px 6px 25px rgba(167, 173, 179, 0.15), 4px 4px 25px rgba(2, 123, 53, 0.05), 10px 6px 25px rgba(98, 65, 175, 0.15);
    border:0;
    border-radius:4px;
    transition: 2s;
}
button:hover{
    color: black;
    transition: 2s;
    background: linear-gradient(92.68deg, #bec2c8 0%, #cfdfe7 100%);
    box-shadow: 6px 6px 25px rgba(167, 173, 179, 0.15), 4px 4px 25px rgba(2, 123, 53, 0.05), 10px 6px 25px rgba(98, 65, 175, 0.15);
}
.checkBox2{
    position: absolute;
    margin-left: 200px;
}
.checkBox3{
    position: absolute;
    margin-left: 170px;
}
.checkBox4{
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

.acceptPerevod{
    margin-top: 50px;
}

.sablon{
    display: block;
}
.select{
    display: block;
}
.select2{
    display: block;
}
.selectSample{
    
    margin-top: 10px;
}


.transferAccept{
    font-weight: 650;
    width: 200px;
}
.transfer{
    font-weight: 650;
    margin-top: 20px;
    width: 200px;
}
.otmenaPerevod{
    margin-top: 20px;
}


.WindowSign{
    position: absolute;
    margin-left: 36%;
}
.addressEnter{
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border:0;
    margin-left: 29%;
    width: 200px;
    height:50px ;
    display: block;
}

.passwordEnter{
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border:0;
    margin-left: 29%;
    width: 200px;
    height:50px ;
    margin-top: 20px;
}
.exitButton{
    width: 100px;
    height: 50px;
}
.ButtonForEnter{
    color: white;
    transition: 2s;
    cursor: pointer;
    border: 0;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
border-radius: 6px;
    margin-left: 30%;
    margin-top: 20px;
    width: 200px;
    height: 100px ;
    display: block;
}
.ButtonForEnter:hover{
    color: black;
    transition: 2s;
}
.openReg{
    margin-top: 10px;
    margin-left: 215px;
    cursor: pointer;
    color:white;
    transition: 2s;
    border: 0;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
border-radius: 6px;
}
.openReg:hover{
    color:black;
    transition: 2s;
}

.openSign{
    margin-top: 10px;
    margin-left: 225px;
    cursor: pointer;
    color:white;
    transition: 2s;
    border: 0;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
border-radius: 6px;
}
.openSign:hover{
    color:black;
    transition: 2s;
}

.RegistrationWindow{
    position:absolute;
    margin-left: 36%;
}


.addressReg{
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border:0;
    margin-left: 29%;
    width: 200px;
    height:50px ;
    display: block;
}

.passwordReg{
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border:0;
    margin-left: 29%;
    width: 200px;
    height:50px ;
    margin-top: 20px;
}

.ButtonForReg{
    color: white;
    transition: 2s;
    cursor: pointer;
    border: 0;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
border-radius: 6px;
    margin-left: 30%;
    margin-top: 20px;
    width: 200px;
    height: 100px ;
    display: block;
}
.ButtonForReg:hover{
    color: black;
    transition: 2s;
}

.createCategoryAndSablon{
    position: absolute;
    margin-left: 600px;
    display: block;
}
.NameCategory{
    display: block;
    margin-bottom: 10px;
}
.sablonAddDiv{
    margin-top: 30px;

}
.idCategoryForSablon{
    margin-bottom: 10px;
    display: block;
}
.nameSablon{
    margin-bottom: 10px;
    display: block;
}

.ReloadTranAccept{
    border:0;
    color:white;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    border-radius: 2px;
    transition: 2s;
}
.ReloadTranAccept:hover{
    color:rgb(21, 17, 17);
    background: linear-gradient(92.68deg, #eeeff1 0%, #4585c5 100%);
    transition: 2s;
}
.codeWAccept{
    border:0;
    border-radius:2px;
}
input{
    border:0;
}


.golosovanie{
    position: absolute;
    margin-left: 1100px;
}